.work-time-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    letter-spacing: -0.48px;
    margin-top: 24px;
    padding: 0 12px;
}

.work-time-header {
    text-align: left;
    margin-bottom: 16px;
    font-size: 16px;
}

.work-time-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.work-time-button {
    font-family: "Noto Sans", sans-serif;
    border: 1px solid #dedede;
    background-color: white;
    cursor: pointer;
    width: 50%;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 16px;
}

.work-time-button:first-child {
    margin-right: 10px;
}

.work-time-button:focus {
    outline: 1px solid #197fe6;
    outline-offset: 2px;
    z-index: 3000;
}

.work-time-button.active {
    background-color: rgb(223, 248, 235);
    border-color: rgb(14, 129, 54);
    color: #0e8136;
    font-weight: 500;
}

.work-time-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    text-align: left;
    margin-top: 12px;
}

.work-time-grid-header {
    margin-bottom: 4px;
    text-align: center;
}

.work-time-grid-row {
    display: contents;
}

.work-time-grid-cell {
    text-align: center;
    margin-bottom: 16px;
}

.work-time-grid-cell-input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 2px solid #dcdcdc;
    background-color: #fff;
    cursor: pointer;
}

.work-time-grid-cell-input[type="checkbox"]:checked {
    border-color: #0e8136;
    background-color: #0e8136;
}

.work-time-grid-cell-input[type="checkbox"]:checked::after {
    content: '✓';
    display: block;
    text-align: center;
    position: relative;
    top: -5px;
    font-size: 16px;
    padding-left: 4px;
    color: #fff;
}