.update-container {
    width: 752px;
    max-width: 1000px;
    margin: auto;
    position: relative;
    font-family: "Noto Sans", sans-serif;
    flex: auto;
    text-align: left;
}

.update-header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.72px;
    color: rgb(0, 0, 0);
    padding: 16px 16px 12px;
}

.update-info{
    background-color: rgb(255,255,255);
    font-weight: 300;
    padding: 12px 40px 24px;

}

p {
    color: #626262;
    font-size: 1.4rem !important;
    font-weight: 300;
    letter-spacing: -.04em;
    line-height: 16px;
}