.my-profile {
  padding: 1.6rem;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  max-width: 566px;
}

.my-profile-tilte {
  font-weight: 700 !important;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 4.75rem;
}

.textarea-custom {
  border-color: rgb(164 164 164);
}

.textarea-custom:focus {
  box-shadow: none !important;
  border: 1px solid #15a449 !important;
}

textarea {
  font-size: 1.6rem !important;
}

.textarea-letter-number {
  font-size: 1.4rem;
  color: rgb(98, 98, 98);
  text-align: right;
}

.horizontal-line {
  border-top-color: rgb(240 240 240);
  height: 2px;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  opacity: 100%;
}

.tilte {
  font-weight: 700 !important;
  font-size: 1.6rem;
}

.normal-text {
  font-size: 1.4rem;
}

.small-text {
  font-size: 1.2rem;
}

.text-grey {
  color: rgb(98 98 98);
}

.purple-badge {
  font-size: 1rem;
  background-color: rgb(236 226 252);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-left: 3px;
}

.button-custom {
  line-height: 4rem !important;
  padding-left: 2rem;
  padding-right: 2rem;
  width: -webkit-fill-available;
}

.actions-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

.button-cancel-submit button {
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 3rem;
  border: 1px solid #15a449;
  border-radius: 0.5rem;
  height: 5rem;
  background-image: none;
  cursor: pointer;
}

.address-description {
  text-align: left;
  margin-top: 1rem;
  color: #626262;
  font-size: 1.4rem;
}

.work-eligibility {
  margin-top: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  background-color: transparent;
}

.work-eligibility-title {
  margin-bottom: 1rem;
  text-align: left;
}

.phone-number-title {
  text-align: left;
  margin-top: 2.5rem;
}
.PhoneInput {
  height: 48px;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
}

.PhoneInputCountry {
  width: 60px;
  justify-content: center;
  margin-right: 0;
}

#currentRoleStartDate {
  display: block;
  width: 100%;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
}

@media only screen and (max-width: 1024px) {
  .my-profile {
    max-width: 100%;
  }
}
