* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #f0f0f0 !important;
}

:root {
  --bg-badge-default-jobcard-temp: #626262;
  --bg-muted-3: #626262;
  --text-body: #1c1c1c;
  --text-badge-feature: #1c1c1c;
  --text-muted: #626262;
}
