.register-widget {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 752px;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.custom-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  letter-spacing: -0.48px;
  text-align: left;
}

.small-label label {
  font-size: 1.4rem;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.job-description .ql-toolbar {
  text-align: left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-color: black !important;
}

.job-description .ql-container {
  height: 184px;
  padding-bottom: 4px;
  border-color: black !important;
}

.character-number {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid black;
  border-top: 0px;
  margin-top: -1px;
  text-align: end;
  padding: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: rgb(98, 98, 98);
  letter-spacing: -0.42px;
}