.header {
  margin-bottom: 1.5rem;
  background-color: rgb(28, 28, 28);
}

.navbar {
  width: 100%;
  display: block !important;
  padding: 0 !important;
}

.nav-above-content {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.05rem 2rem;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-above-content .left-content {
  width: 10rem;
  text-align: left;
}

.logo-page-header {
  margin: 0 !important;
  cursor: pointer;
}

.nav-above-content .left-content button {
  color: transparent;
  background-color: transparent;
  border: none;
}

.nav-above-content .right-content {
  width: 10rem;
  text-align: right;
}

.nav-below-content {
  width: 100%;
  background-color: white;
}

.nav-menu {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.4rem 3.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu .nav-link {
  font-size: 1.2rem !important;
  color: rgb(98, 98, 98);
  padding: 0.8rem 0.2rem;
  display: flex;
  align-items: center;
}

.nav-menu .active {
  color: #0e8136 !important;
}

.nav-menu .nav-link img {
  width: 2.3rem;
  height: 2.3rem;
  margin-right: 0.9rem;
}

.nav-menu .nav-link span {
  text-align: left;
  line-height: 1;
  padding-right: 1.4rem;
}

.login {
  font-size: 1.4rem !important;
  font-weight: 300;
  color: white;
  border: none;
  background: none;
}

.login:hover {
  text-decoration: underline;
}

.nav-menu .active .nav-icon {
  filter: invert(0%) sepia(98%) saturate(2140%) hue-rotate(135deg)
    brightness(91%) contrast(89%);
}

@media screen and (max-width: 600px) {
  .nav-menu {
    justify-content: space-around;
  }

  .nav-menu .nav-link {
    flex-direction: column;
    gap: 0.4rem;
  }

  .nav-below-content .nav-menu .nav-link {
    font-size: 1rem !important;
  }
}
