.header {
  padding: 1.8rem 3.2rem;
  margin-bottom: 1.5rem;
}

.nav-no-responsive {
  justify-content: space-between;
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}

.logo-page-header {
  padding: 0 !important;
}

.navbar {
  width: 100%;
}

.nav-link {
  font-size: 1.4rem !important;
  color: black !important;
  margin: 0 0.8rem;
  display: flex !important;
  align-items: center;
  text-align: left;
  gap: 0.6rem;
}

.nav-icon {
  font-size: 2rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.rightGroup {
  justify-content: flex-end;
}

.button-employer {
  height: 4rem;
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  margin-left: 2.3rem;
  padding: 0 2rem !important;
}

.login {
  font-size: 1.4rem !important;
  border: none;
  background: none;
  margin: 0 0.5rem;
}

.login:hover {
  text-decoration: underline;
}

.logout {
  font-size: 1.4rem !important;
  border: none;
  color: #626262;
  background: none;
  margin: 0 0.2rem;
  margin-left: 0.8rem;
}

.logout:hover {
  text-decoration: underline;
}

.nav-responsive {
  display: none !important;
}

@media screen and (max-width: 1060px) {
  .header {
    padding: 1.6rem 0;
  }

  .nav-no-responsive {
    display: none !important;
  }

  .nav-responsive {
    display: flex !important;
    flex-direction: column !important;
    padding: 0 !important;
  }

  .above-content {
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap;
    margin-bottom: 1.9rem;
    padding: 0 1.6rem;
  }

  .below-content {
    width: 100%;
  }

  .category-title {
    font-size: 1.4rem;
    margin-left: 1.5rem;
    background-color: transparent;
    border: none;
    border-left: 1px solid #cfcfcf;
    padding-left: 1.5rem;
  }

  .category-title:hover {
    text-decoration: underline;
  }

  .category-content {
    width: 100%;
  }

  .flex-column {
    width: 100% !important;
    align-items: flex-start !important;
  }

  .find-job-title {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
  }

  .nav-link-title {
    font-size: 1.2rem;
    padding: 1.6rem 1.6rem 0;
    color: #808080;
  }

  .p-0,
  .nav-item,
  .nav-link {
    width: 100%;
  }

  .nav-link {
    margin: 0;
    padding: 1.6rem !important;
  }

  .employer-link {
    width: 100%;
    text-align: left;
    padding: 1.6rem;

    border-bottom: 1px solid #cfcfcf;
  }

  .button-employer {
    margin: 0;
  }

  .mobile-app-link {
    width: 100%;
    text-align: left;
    padding: 2.4rem 1.6rem;
    border-bottom: 1px solid #cfcfcf;
  }

  .img-app-link {
    width: 13.5rem;
    height: 4rem;
    margin-right: 1.6rem;
  }

  .nav-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #cfcfcf;
  }
}
