.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-item {
    padding: 0.5rem 0;
}

.nav-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.nav-link.active {
    color: #0e8136 !important;
    text-decoration: none !important;
}

.sidebar {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    width: 282px;
    height: 320px;
    text-align: left;
}

.sidebar-header {
    background-color: #dedede;
    color: #1c1c1c;
    padding: 12px 14px;
    line-height: 25.6px;
    font-weight: 700;
    font-size: 16px;
}

.sidebar .nav-link {
    display: block;
    color: #1c1c1c;
    padding: 8px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    font-size: 14px;
}

.sidebar .nav-link:hover {
    text-decoration: underline;
    color: #1c1c1c;
}

.sidebar .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #0e8136;
}

.main-content {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 20px;
}

.main-content h3 {
    border: none;
    text-align: left;
}

@media only screen and (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
        gap: 0;
        margin: 0;
        padding: 0;
        max-width: 100% !important;
    }

    .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .sidebar .nav-link {
        flex-grow: 1;
        padding: 8px 0;
        margin: 0;
        text-align: center;
        border: none;
        font-size: 16px;
        box-sizing: border-box;
    }

    .sidebar-header {
        display: none;
    }

    .sidebar .nav-link.active {
        font-weight: bold;
        color: #0e8136;
    }
}

@media only screen and (max-width: 480px) {
    .sidebar .nav-link {
        font-size: 14px;
    }
}