.radio-custom .form-check-input:checked {
  background-color: #ffff !important;
  border-color: rgb(14, 129, 54) !important;
}

.radio-custom .form-check-input:checked[type="radio"] {
  --bs-form-check-bg-image: url("../../../assets/svg/green_dot.svg") !important;
}

.radio-custom:hover {
  cursor: pointer;
}
