.estimated-salary-wrapper {
  text-align: left;
}

.change-currency-btn {
  border: 0px !important;
  background: transparent !important;

  color: rgb(15, 98, 199);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: -0.42px;
  text-align: left;
}

.change-currency-btn:hover {
  text-decoration: underline;
}

.custom-modal .modal-dialog {
  width: 100%;
  max-width: 714px;
  min-width: 320px;
}

.custom-modal .modal-header {
  background-color: rgb(240, 240, 240);
  border: 0px !important;
  padding: 16px 32px;
}

.custom-modal .modal-title {
  font-size: 16px;
  line-height: 24px;
}

.custom-modal .modal-body {
  padding: 24px 24px 32px 32px;
}

.custom-modal .modal-body div {
  margin-bottom: 8px;
}

.estimated-salary {
  display: flex;
  column-gap: 15px;
}

.salary-range-wrapper {
  width: 50%;
}

.salary-range {
  display: flex;
  flex-wrap: nowrap;
  max-width: 430px;
}

.salary-range input {
  width: 100%;
  min-height: 50px;
  border-radius: 8px !important;
  border-width: 1px !important;
  border-color: rgb(128, 128, 128) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 300 !important;
  padding: 12px 16px;
}

.salary-range input:focus-visible {
  border-color: rgb(14, 129, 54) !important;
  outline: none !important;
}

.custom-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: -0.48px;
}

.salary-time,
.salary-type-view {
  width: 25%;
}

@media screen and (max-width: 770px) {
  .salary-time,
  .salary-type-view {
    width: 100%;
  }
  .salary-range-wrapper {
    width: 100%;
  }
  .estimated-salary {
    flex-flow: column;
  }
}
