.register-header {
  margin-bottom: 2.2rem;
  display: flex;
}

.step-button-wrapper {
  display: flex;
  flex-flow: column;
  row-gap: 5px;
}

.step-button-wrapper button {
  border: 2px solid rgb(98, 98, 98) !important;
  border-radius: 9999px;
  width: 36px;
  height: 36px;
  color: rgb(98, 98, 98);
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
}

.step-button-wrapper.done button {
  color: rgb(14, 129, 54);
  border-color: rgb(14, 129, 54) !important;
}

.step-button-wrapper.active button {
  color: rgb(14, 129, 54);
  border-color: rgb(14, 129, 54) !important;
}

.step-button-wrapper .step-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(98, 98, 98);
  letter-spacing: -0.42px;
  text-decoration: none;
  pointer-events: none;
}

.step-button-wrapper.active .step-title {
  color: rgb(14, 129, 54);
}

.step-button-wrapper.done .step-title {
  color: rgb(28, 28, 28);
  pointer-events: fill;
}
.step-button-wrapper.done .step-title:hover {
  text-decoration: underline;
}

.done-icon {
  background-image: url("../../../assets/svg/done-icon.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position-y: -2px;
  background-position-x: -2px;
}
