footer {
  background-color: rgb(240, 240, 240);
}

.footer {
  padding: 2.4rem 1.6rem;
}

.footer-links {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  column-gap: 2.4rem;
  flex-wrap: wrap;
}

.footer-link {
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
  text-align: left;
  padding: 0.8rem 0;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-user-action {
  width: 100%;
  padding-top: 4rem;
  display: none;
}

.footer-user-action span {
  font-size: 1.4rem;
}

.footer-user-action button {
  font-size: 1.4rem;
  color: #0e8136;
  border: none;
}

.footer-user-action button:hover {
  text-decoration: underline;
}

.copyright-text {
  display: block;
  max-width: 90rem;
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: right;
  padding: 0.8rem 0;
}

.mobile-app-link {
  width: 100%;
  padding: 2.4rem 0;
  display: none;
}

.img-app-link {
  width: 13.5rem;
  height: 4rem;
}

@media screen and (max-width: 970px) {
  .footer-links {
    max-width: 50rem;
    padding-bottom: 2.4rem;
  }

  .footer-link {
    width: calc(100% / 2 - 2.4rem / 2);
  }

  .footer-user-action {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid #e2e2e2;
  }

  .mobile-app-link {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .copyright-text {
    text-align: center;
    padding-bottom: 9.6rem;
  }
}
