.input-group {
    width: 100%;
    margin-top: 2.5rem;
}

label {
    width: 100%;
    text-align: left;
    color: black;
    font-weight: 400;
}

label input {
    height: 48px;
    padding: 0 2rem !important;
    background-image: none !important;
}

label input:focus {
    outline: none !important;
    outline-color : none !important;
    border: 1px solid #0e8136;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none !important;
    color: black !important;
}

.invalid-feedback-input {
    opacity: 1;
    color: rgb(227 33 33);
    font-size: 1.4rem;
    margin-top: .25rem;
}

.invalid-feedback-input span {
    line-height: 1.6rem;
}

.is-invalid {
    color: rgb(227 33 33) !important;
}
